<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LinqFaster" version="0.9.3" targetFramework="net461" />
  <package id="LinqFaster.SIMD" version="0.9.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.3.0" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.3.0" targetFramework="net461" />
</packages>